// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

ul.list-unstyled > li > a, button.btn-link, span.justify-content-center, a.default-link  {
    color: $primary !important;
}

a.active, a.btn-link, a.inline-link, p>a[href]:not(.btn), a, button.btn-link, span.align-items-center {
    color: $primary !important;
}

div.profile-page-bg-banner {
    background-color: $primary;
}

a.dropdown-item:active {
    color: #fff !important;
}

button.btn-brand {
    background-color: $primary;
    border-color: $primary;
    color: #fff !important;
  
    span {
      color: #fff !important;
    }
  }

button.btn-brand:hover {
    background-color: #1a7765;
    border-color: #1a7765;
    color: #fff !important;
}

div.text-accent-a {
    color:#9D0054 !important;
}
  
.btn-brand:not(:disabled):not(.disabled):active {
    background-color: #1a7765 !important;
    border-color: #1a7765 !important;
  }

img.logo {
    width: 200px;
}

.wrapper-footer {
    padding: 25px 40px 30px 40px !important;
}

div.contact-info p {
    margin: 0;
}

button.discovery-submit {
    border: 2px solid $primary;
    border-radius: 2px;
    height: 55px;
    padding: 0 14px;
    background: $primary;
}

button.find-courses button.discovery-submit:hover, button.find-courses button.discovery-submit:focus {
    background: #31d8b7;
}